* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

body {
    background-image: linear-gradient(40deg, #fafa, #ffa);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container {
    width: 700px;
    height: 700px;
    padding: 30px 100px;
    border: 5px rgb(41, 74, 219) inset;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#grid {
    height: 500px;
    width: 100%;
    display: grid; 
    grid-template-rows: repeat(var(--cols-repeat), auto); 
    grid-template-columns: repeat(var(--rows-repeat), auto);
}

#select-color {
    background-color: lavender;
    height: 30px;
    border-radius: 8px;
}

#select-color:hover {
    background-color: burlywood;
}

#random-color { 
    font-weight: 700;
    font-size: 1.1rem;
    background-image: linear-gradient(50deg, rgb(201, 229, 61), rgb(203, 116, 116), rgb(226, 28, 200));
    border-radius: 15%;
    height: 70px;
    width: 70px;
    border: none;
}

#random-color:hover {
    cursor: pointer;
}

#color-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

input[type="range"] {
    -webkit-appearance: none;
    background: rgba(231, 22, 22, 0.6);
    margin-right: 15px;
    width: 200px;
    height: 7px;
}
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #100b09;
    cursor: ew-resize;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}


#options {
    margin-bottom: 20px;
    display: flex;
}

#options div { 
    margin-left: 20px;
}

#options div p {
    text-align: center;
}

.cells {
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
}

#reset-button{
    background-color: transparent;
    font-size: 1rem;
    height: 30px;
    width: 90px;
    margin-top: 20px;
    transition: 0.1s ease-in;
}

#reset-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}


  
