* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: grid; 
    grid-template-rows: repeat(var(--cols-repeat), 30px); 
    grid-template-columns: repeat(var(--rows-repeat), 30px);
}

.cells {
    border: 2px solid rgb(0, 0, 0);
}

