* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container {
    width: 600px;
    padding: 30px 100px;
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#options {
    background-color: grey;
    margin-bottom: 20px;
    display: flex;
}

#options div {
    margin-left: 20px;
}

#options div p {
    text-align: center;
}

#grid {
    height: 400px;
    width: 100%;
    display: grid; 
    grid-template-rows: repeat(var(--cols-repeat), auto); 
    grid-template-columns: repeat(var(--rows-repeat), auto);
}

.cells {
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
}

#reset-button{
    font-size: 1rem;
    height: 30px;
    width: 90px;
}

